services:
  db:
    image: postgres:latest
    container_name: db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: destination_api_development
    volumes:
      - db-data:/var/lib/postgresql
      - ./db/init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  api:
    build: .
    container_name: api
    entrypoint: /usr/local/bin/docker-entrypoint
    volumes:
      - .:/app
      - bundle-cache:/usr/local/bundle
    ports:
      - "3000:3000"
    environment:
      DATABASE_HOST: db
      DATABASE_USER: postgres
      DATABASE_PASSWORD: password
      DATABASE_NAME: destination_api_development
      REDIS_URL: redis://redis:6379/0
    depends_on:
      - db
      - redis

  sidekiq:
    build: .
    container_name: sidekiq
    entrypoint: /usr/local/bin/sidekiq-entrypoint
    volumes:
      - .:/app
      - bundle-cache:/usr/local/bundle
    environment:
      REDIS_URL: redis://redis:6379/0
    depends_on:
      - db
      - redis
      - api

volumes:
  db-data:
  bundle-cache:
