---
openapi: 3.0.1
info:
  title: Destinations API V1
  version: v1
paths:
  "/api/v1/trips":
    post:
      summary: Creates a trip
      tags:
      - Trips
      parameters: []
      responses:
        '201':
          description: trip created
          content:
            application/json:
              schema:
                type: object
                properties:
                  trip:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      image_url:
                        type: string
                      short_description:
                        type: string
                      long_description:
                        type: string
                        nullable: true
                      rating:
                        type: integer
                    required:
                    - id
                    - name
                    - image_url
                    - short_description
                    - rating
                required:
                - trip
        '422':
          description: invalid parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '400':
          description: unpermitted parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                trip:
                  type: object
                  properties:
                    name:
                      type: string
                    image_url:
                      type: string
                    short_description:
                      type: string
                    long_description:
                      type: string
                      nullable: true
                    rating:
                      type: integer
                  required:
                  - name
                  - image_url
                  - short_description
                  - rating
              required:
              - trip
    get:
      summary: Lists trips
      tags:
      - Trips
      parameters:
      - name: search
        in: query
        required: false
        description: Search by name
        schema:
          type: string
      - name: min_rating
        in: query
        required: false
        description: Minimum rating filter
        schema:
          type: integer
      - name: sort
        in: query
        required: false
        description: Sort column (name, rating)
        schema:
          type: string
      - name: direction
        in: query
        required: false
        description: Sort direction (asc, desc)
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: Page number
        schema:
          type: integer
      - name: per_page
        in: query
        required: false
        description: Records per page
        schema:
          type: integer
      - name: foo
        in: query
        required: false
        description: Unpermitted query param example
        schema:
          type: string
      responses:
        '200':
          description: trips retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  trips:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                        rating:
                          type: integer
                      required:
                      - id
                      - name
                      - rating
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                      per_page:
                        type: integer
                      total_pages:
                        type: integer
                      total_records:
                        type: integer
                    required:
                    - current_page
                    - per_page
                    - total_pages
                    - total_records
                required:
                - trips
                - meta
        '400':
          description: bad request with unpermitted params
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
  "/api/v1/trips/{id}":
    parameters:
    - name: id
      in: path
      description: Trip ID
      required: true
      schema:
        type: integer
    - name: foo
      in: query
      required: false
      description: Unpermitted query param example
      schema:
        type: string
    get:
      summary: Retrieves a trip
      tags:
      - Trips
      responses:
        '200':
          description: trip found
          content:
            application/json:
              schema:
                type: object
                properties:
                  trip:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      rating:
                        type: integer
                    required:
                    - id
                    - name
                    - rating
                required:
                - trip
        '404':
          description: trip not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
        '400':
          description: bad request with unpermitted params
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
servers:
- url: http://localhost:3000
  description: Local server
